[submodule "Source/gRPC"]
	path = Source/gRPC
	url = https://github.com/grpc/grpc.git
[submodule "Source/rclcpp"]
	path = Source/rclcpp/rclcpp
	url = https://github.com/ros2/rclcpp
[submodule "Source/ros2/ament_cmake"]
	path = Source/ros2/ament_cmake
	url = git@github.com:ament/ament_cmake.git
[submodule "Source/ros2/ament_package"]
	path = Source/ros2/ament_package
	url = https://github.com/ament/ament_package.git
[submodule "Source/ros2/ament_index"]
	path = Source/ros2/ament_index
	url = https://github.com/ament/ament_index.git
[submodule "Source/rclcpp/googletest"]
	path = Source/rclcpp/googletest
	url = https://github.com/ament/googletest.git
[submodule "Source/rclcpp/ament_lint"]
	path = Source/rclcpp/ament_lint
	url = https://github.com/ament/ament_lint.git
[submodule "Source/rclcpp/ament_cmake_ros"]
	path = Source/rclcpp/ament_cmake_ros
	url = https://github.com/ros2/ament_cmake_ros.git
[submodule "Source/rclcpp/rcl_interfaces"]
	path = Source/rclcpp/rcl_interfaces
	url = https://github.com/ros2/rcl_interfaces.git
[submodule "Source/rclcpp/rosidl"]
	path = Source/rclcpp/rosidl
	url = https://github.com/ros2/rosidl.git
[submodule "Source/rclcpp/rosidl_defaults"]
	path = Source/rclcpp/rosidl_defaults
	url = https://github.com/ros2/rosidl_defaults.git
[submodule "Source/rclcpp/rosidl_typesupport"]
	path = Source/rclcpp/rosidl_typesupport
	url = https://github.com/ros2/rosidl_typesupport.git
[submodule "Source/rclcpp/rcutils"]
	path = Source/rclcpp/rcutils
	url = https://github.com/ros2/rcutils.git
[submodule "Source/rclcpp/performance_test_fixture"]
	path = Source/rclcpp/performance_test_fixture
	url = https://github.com/ros2/performance_test_fixture.git
[submodule "Source/rclcpp/google_benchmark_vendor"]
	path = Source/rclcpp/google_benchmark_vendor
	url = https://github.com/ament/google_benchmark_vendor.git
[submodule "Source/rclcpp/osrf_testing_tools_cpp"]
	path = Source/rclcpp/osrf_testing_tools_cpp
	url = https://github.com/osrf/osrf_testing_tools_cpp.git
[submodule "Source/rclcpp/launch"]
	path = Source/rclcpp/launch
	url = https://github.com/ros2/launch.git
[submodule "Source/rclcpp/python_cmake_module"]
	path = Source/rclcpp/python_cmake_module
	url = https://github.com/ros2/python_cmake_module.git
[submodule "Source/rclcpp/mimick_vendor"]
	path = Source/rclcpp/mimick_vendor
	url = https://github.com/ros2/mimick_vendor.git
[submodule "Source/rclcpp/test_interface_files"]
	path = Source/rclcpp/test_interface_files
	url = https://github.com/ros2/test_interface_files.git
[submodule "Source/rclcpp/rosidl_python"]
	path = Source/rclcpp/rosidl_python
	url = https://github.com/ros2/rosidl_python.git
[submodule "Source/rclcpp/rcpputils"]
	path = Source/rclcpp/rcpputils
	url = https://github.com/ros2/rcpputils.git
[submodule "Source/rclcpp/rmw"]
	path = Source/rclcpp/rmw
	url = https://github.com/ros2/rmw.git
[submodule "Source/rclcpp/rpyutils"]
	path = Source/rclcpp/rpyutils
	url = https://github.com/ros2/rpyutils.git
[submodule "Source/rclcpp/unique_identifier_msgs"]
	path = Source/rclcpp/unique_identifier_msgs
	url = https://github.com/ros2/unique_identifier_msgs.git
[submodule "Source/rclcpp/libstatistics_collector"]
	path = Source/rclcpp/libstatistics_collector
	url = https://github.com/ros-tooling/libstatistics_collector.git
[submodule "Source/rclcpp/rcl"]
	path = Source/rclcpp/rcl
	url = https://github.com/ros2/rcl.git
[submodule "Source/rclcpp/libyaml_vendor"]
	path = Source/rclcpp/libyaml_vendor
	url = https://github.com/ros2/libyaml_vendor.git
[submodule "Source/rclcpp/rcl_logging"]
	path = Source/rclcpp/rcl_logging
	url = https://github.com/ros2/rcl_logging.git
[submodule "Source/rclcpp/spdlog_vendor"]
	path = Source/rclcpp/spdlog_vendor
	url = https://github.com/ros2/spdlog_vendor.git
[submodule "Source/rclcpp/rmw_implementation"]
	path = Source/rclcpp/rmw_implementation
	url = https://github.com/ros2/rmw_implementation.git
[submodule "Source/rclcpp/Fast-DDS"]
	path = Source/rclcpp/Fast-DDS
	url = https://github.com/eProsima/Fast-DDS.git
[submodule "Source/rclcpp/Fast-CDR"]
	path = Source/rclcpp/Fast-CDR
	url = https://github.com/eProsima/Fast-CDR.git
[submodule "Source/rclcpp/foonathan_memory_vendor"]
	path = Source/rclcpp/foonathan_memory_vendor
	url = https://github.com/eProsima/foonathan_memory_vendor.git
[submodule "Source/rclcpp/rmw_fastrtps"]
	path = Source/rclcpp/rmw_fastrtps
	url = https://github.com/ros2/rmw_fastrtps.git
[submodule "Source/rclcpp/rmw_dds_common"]
	path = Source/rclcpp/rmw_dds_common
	url = https://github.com/ros2/rmw_dds_common.git
[submodule "Source/rclcpp/ros2_tracing"]
	path = Source/rclcpp/ros2_tracing
	url = https://github.com/ros2/ros2_tracing.git
[submodule "Source/rclcpp/rosidl_typesupport_fastrtps"]
	path = Source/rclcpp/rosidl_typesupport_fastrtps
	url = https://github.com/ros2/rosidl_typesupport_fastrtps.git
[submodule "Source/rclcpp/common_interfaces"]
	path = Source/rclcpp/common_interfaces
	url = https://github.com/ros2/common_interfaces.git
[submodule "Source/rclcpp/class_loader"]
	path = Source/rclcpp/class_loader
	url = https://github.com/ros/class_loader.git
[submodule "Source/rclcpp/console_bridge_vendor"]
	path = Source/rclcpp/console_bridge_vendor
	url = https://github.com/ros2/console_bridge_vendor.git
